body{
    background-image:url("../Images/bgg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.alanwalkerlogo1
{
    float: left;
   
}
/* .alanwalkerlogo2
{
    float: left;
    height: 75px;
    width: 75px;
} */
.alanwalkerimg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right:20%;

}