body{
    background-image:url("bgg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.arijitlogo1
{
    float: left;
    height: 75px;
    width: 75px;
    
}
/* .logo2
{
    float: left;
    height: 75px;
    width: 75px;
} */
.arijitimg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right:6%;


}
