body{
    background-image:url("../Images/bgg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.nehalogo1
{
    float: left;
    height: 75px;
    width: 75px;
}
/* .nehalogo2
{
    float: left;
    height: 75px;
    width: 75px;
} */
.nehaimg{
    height: 280px;
    width: 300px;
    border-radius: 50%;
    margin-right:7%;

}