body{
    background: #32384f;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100%;
    background:#ededff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 500%;
    max-width:500%;
    background: #32384f;
    text-align: center;
    padding:30px;
    color: #fff;
}
.top-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.heart{
    margin-right: 5px;
}
.profilepic{
    width: 200px;
    border-radius: 50%;
}
.profile h2{
    font-weight: 500;
    font-size: 22px;
    margin-top: 22px;

}
.profile p{
    font-size: 12px;
}
.btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    background: linear-gradient(to right, #8d68c5, #e34494);
    display: inline-block;
    margin: 50px 0;
    font-size: 15px;
}
.social-media{
    display: flex;
    justify-content: space-around;

}
.social-media img{
    width:60px;
    border-radius: 50%;
    
}
.social-media h3{
    font-weight: 500;
    font-size: 16px;
}
.social-media div{
    margin: 100px 0 100px;
}