body{
    background-image:url("bgg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.selenagomezlogo1
{
    float: left;
    height: 75px;
    width: 75px;
}
/* .selenagomezlogo2
{
    float: left;
    height: 75px;
    width: 75px;
} */
.selenagomezimg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right: 7%;
    


}