
body{
    background: #32384f;
}
    .button {
        padding: 15px 25px;
        font-size: 24px;
        text-align:left;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color:transparent;
        border: none;
        border-radius: 15px;
        width:100%;
        
      }
    
      
      .button:hover {
        background-color:gray;
      }
      
      .button:active {
        background-color:grey;
        transform: translateY(4px);
      }

    
    .backicon{
        flex:auto;
        margin:20px;
        text-align:justify;
        justify-content: space-between;
        
    
    
    }
    .backbutton {
      display: flex;
      height:80px;
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background: #32384f;
        border: none;
      
        width:100%;
        position: fixed;
        
      }
  
      .switch1 {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        left:1265px;
      }
   
      .switch2 {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        left:1300px;
      }
    

      .switch3 {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        left:1200px;
      }
     
      .switch4 {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        left:1200px;
      }
     
      .switch5 {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        left:1230px;
      }
   
      .switch6 {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        left:1270px;
      }
     
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      .toggle{
      display: block;
        margin: 30px auto;
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        color: #f5f5f5;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        transition: .3s ease;
      }
      
      




      