body{
    background-image:url("bgg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.taylorswiftlogo1
{
    float: left;
    height: 75px;
    width: 75px;
}
/* .taylorswiftlogo2
{
    float: left;
    height: 75px;
    width: 75px;
} */
.taylorswiftimg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right:7%;

}